@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


logo {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 45px;
    position: relative;
    top: 20px;
    left: 30px;
    letter-spacing: 1.5px;
}

hr {
    border: 2px solid #F3F4F4;
    border-radius: 5px;
    position: relative;
    top: 30px;
}

hr.one {
    width: 760px;
    margin: 0;
}

h2 {
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    position: relative;
    left: 55px;
    top: 10px;
}

img.person {
    position: absolute;
    top: 120px;
    right: 0;
}

div.info {
    position: relative;
    top: 50px;
    left: 55px;
    font-family: 'Ubuntu 400', sans-serif;
    color: #8B919F;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 12px;
}

div.button {
    background-color: #5045E8;
    position: relative;
    top: 100px;
    left: 400px;
    height: 50px;
    width: 140px;
    border-radius: 8px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu 400', sans-serif;
    font-size: 18px;
    display: flex;
	align-items: center;
	justify-content: center;

}